<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilosEditar.css" />
</head>

<!-- Menú superior -->
<header>
    <nav>
        <ul>
            <li><a href="/Home" class="nav-link">Home</a></li>
            <li><a href="/admon" class="" type="button">Administrador</a></li>
            <li><a href="/logout" class="" type="button">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>

<body>

    <!-- Título central -->
    <header class="header1">
        <div>
            <h1>Editar información del Usuario</h1>
        </div>
    </header>

    <!-- Contenedor principal del formulario -->
    <div class="container">
        <form action="/update/<%= data.id %>" method="post" class="formulario">
            <div class="form-group">
                <input type="text" name="nombre" value="<%= data.nombre %>" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" name="correo" value="<%= data.correo %>" placeholder="Correo" class="form-control">
            </div>
            <div class="form-group">
                <input type="number" name="telefono" value="<%= data.telefono %>" placeholder="Teléfono" class="form-control">
            </div>
            <div class="form-group">
                <textarea name="comentarios" value="<%= data.comentarios %>" placeholder="Comentario" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-submit">Guardar</button>
            <a href="/" class="btn">Volver</a>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer__container">
            <img class="tupaginaya__icon" src="/imagenes/tupagina.png" alt="tupaginaYA Logo">
            <p>© 2024. All rights reserved</p>
        </div>
    </footer>

</body>
</html>
