<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuPaginaYA</title>
    <link rel="stylesheet" href="/css/estilosUsuario.css">
    <link rel="shortcut icon" href="/imagenes/typaginaya.png" type="image/x-icon">
</head>
<body>
    <nav class="">
        <a href="/" class="">Formulario de clientes</a>
    </nav>
    <a href="/home" class="btn" type="button">Home</a>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><%= (data[i].nombre) %></td>
                                    <td><%= (data[i].correo) %></td>
                                    <td><%= (data[i].telefono) %></td>
                                    <td><%= (data[i].comentarios) %></td>
                                    <td>
                                        <div class="">
                                            <a href="/delete/<%= data[i].id %>" class="btn" type="button">Eliminar</a>
                                            <a href="/update/<%= data[i].id %>" class="btn" type="button">Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>          
            </div>
        </div>
    </div>
<footer>
    <div class="footer__container">
        <img class="tupaginaya__icon" src="/imagenes/tupagina.png" alt="tupaginaYA Logo">
        <div class="container__icons--footer">
            <div class="container-icons--footer">
            </div>
        <p class="">© 2024. All rights reserved</p>
    </div>
</footer>
</body>
</html>



