<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilosUsuario.css">
    
</head>
<body>
    <nav class="">
        <a href="/" class="">Formulario</a>
    </nav>
    <a href="/home" class="btn" type="button">Volver a Incio</a>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><%= (data[i].nombre) %></td>
                                    <td><%= (data[i].correo) %></td>
                                    <td><%= (data[i].telefono) %></td>
                                    <td><%= (data[i].comentarios) %></td>
                                    <td>
                                        <div class="">
                                            <a href="/delete/<%= data[i].id %>" class="btn" type="button">Eliminar</a>
                                            <a href="/update/<%= data[i].id %>" class="btn" type="button">Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>          
            </div>
        </div>
    </div>
<footer>
    <p>© 2024 Tu Empresa</p>
</footer>
</body>
</html>



